/*each square should be 100px by 100px*/
/*white: #f0d9b5*/
/*black: #b58863*/

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 800px;
    height: 800px;
    gap: 0px;
}

.white{
    width: 100px;
    height: 100px;
    background-color: #f0d9b5;
}

.black{
    width: 100px;
    height: 100px;
    background-color: #b58863;
}